{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'accounts/css/app.style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Login | Delta Software</title>
</head>
<body>
    {% if hata %}
            <script>alert('Kullanıcı Adı veya Parola Hatalı!');</script>
    {% endif %}
    <!-- Header -->
    <header id="page-top">
        <div id="logo">
            <a href=""><h1>Delta Software</h1></a>
        </div>
        <div id="p-right">
            <a href="" class="btn">Üye Ol</a>
        </div>
    </header>

    <!-- End Header -->

    <main>
        <!-- Content -->
        <section id="content">
            <aside id="content-left">
                <img src="{% static 'accounts/img/login.gif' %}" alt="image" class="image">
            </aside>

            <section id="content-right">
                <div class="c-top">
                    <h1>Giriş Yap</h1>
                    <p>Devam etmek için giriş yapınız.</p>
                </div>
                <div class="c-center">
                    <form method="post">
                        {% csrf_token %}
                        <div class="input-box">
                            <i class="fa-solid fa-user icon"></i>
                            <input type="text" name="username" id="username" placeholder="Username" autofocus required>
                        </div>
                        <div class="input-box">
                            <i class="fa-solid fa-lock icon"></i>
                            <input type="password" name="password" id="password" placeholder="Password" required>
                        </div>
                        <div class="input-box">
                            <button class="btn btn2">Giriş Yap </button>
                            <a href="#" class="forgot-password">Şifrenimi Unuttun ?</a>
                        </div>
                        
                    </form>
                </div>
            </section>
        </section>
        <!-- End Content -->
    </main>
    <footer>
        
        <p style="text-align:center; font-size:1em; color: #333;">&copy; 2022 Tüm hakları saklıdır.</p>
    </footer>
</body>
</html>