<nav class="navbar navbar-dark navbar-expand-lg bg-dark navbar-brand">
    <div class="container">
        <a class="navbar-brand" href="#">Delta Software</a>
        <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbar" type="button">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar">
            <ul class="navbar-nav me-auto">
            
                <li class="nav-item">
                    <a href="#" class="nav-link text-white">Html</a>
                </li>

                <li class="nav-item">
                    <a href="#" class="nav-link text-white">CSS</a>
                </li>

                <li class="nav-item">
                    <a href="#" class="nav-link text-white">Java</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link text-white">Python</a>
                </li>
            </ul>
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a href="#" class="nav-link text-white">Giriş Yap</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link text-white">Üye Ol</a>
                </li>
            </ul>
        </div>
    </div>
</nav>